services:
  builder-armv7:
    build: 
      context: .
      target: debian
    platform: linux/arm/v7
    volumes:
      - ./build:/build
    command: sh -c "mkdir -p /build/linux_armv7 && cd /app/libiec61850-repo && make WITH_MBEDTLS=1 INSTALL_PREFIX=/build/linux_armv7 install"

  builder-arm64:
    build: 
      context: .
      target: debian
    platform: linux/arm64
    volumes:
      - ./build:/build
    command: sh -c "mkdir -p /build/linux_arm64 && cd /app/libiec61850-repo && make WITH_MBEDTLS=1 INSTALL_PREFIX=/build/linux_arm64 install"

  builder-darwin-armv8:
    build: 
      context: .
      target: debian
    platform: linux/arm64
    volumes:
      - ./build:/build
    command: sh -c "mkdir -p /build/darwin_armv8 && cd /app/libiec61850-repo && make WITH_MBEDTLS=1 INSTALL_PREFIX=/build/darwin_armv8 install"

  builder-amd64:
    build: 
      context: .
      target: debian
    platform: linux/amd64
    volumes:
      - ./build:/build
    command: sh -c "mkdir -p /build/linux_amd64 && cd /app/libiec61850-repo && make WITH_MBEDTLS=1 INSTALL_PREFIX=/build/linux_amd64 install"
